.massages-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #4A2C2A;
}

.massage-the-service-section {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.massage-service-image {
    width: 100%;
    border-radius: 8px;
    height: auto;
    max-width: 1400px;
    text-align: center;
}

.massage-service-title {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 70px;
    font-weight: bold;
}

.massage-programs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1600px;
    width: 100%;
    padding: 40px;
    gap: 100px;
}

.massage-programs-left {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 300px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.massage-image-large {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.massage-image-small {
    position: absolute;
    object-fit: cover;
    border-radius: 8px;
}

.massage-image-small:nth-child(3) {
    width: 236px;
    height: 209px;
    bottom: -220px;
    left: 20px;
}

.massage-image-small:nth-child(2) {
    width: 236px;
    height: 209px;
    top: 85%;
    right: -90px;
}

.massage-programs-right {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.massage-program {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.program-title {
    font-size: 20px;
    font-weight: bold;
    color: #9F2C2E;
    margin-bottom: 5px;
    float: left;
}

.program-description {
    font-size: 15px;
    color: #5A5A5A;
    margin-top: 50px;
    line-height: 1.6;
}

.program-price {
    font-size: 18px;
    color: #4A2C2A;
    float: right;
}

.book-the-service-section {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.book-service-image {
    width: 100%;
    max-width: 1400px;
    height: 460px;
    border-radius: 8px;
}

.book-service-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(97, 19, 61, 1);
    font-size: 64px;
    font-weight: 400;
    line-height: 76.8px;
    letter-spacing: 0.01em;
    text-align: left;
    font-family: 'Kaushan Script', cursive;
}

.book-appointment-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: rgba(97, 19, 61, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 42px;
    font-family: 'Kaushan Script', cursive;
}

.book-appointment-button:hover {
    background-color: #fff;
}

.faq-section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
